@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
    background-color: #000000;
    color: lightgray;
    font-size: 28px;
    font-family: "Ubuntu Mono", serif;
    font-weight: 700;
    font-style: normal;
}
#container{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
#gameBoard{
    width: 900px;
    margin-top: 5px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 48px;
    min-height: 60px;
}
#gallow{
    float: left;
    width: 450px;
    text-align: center;
    min-height: 280px;
}
#alphabet{
    float: left;
    width: 450px;
    text-align: center;
    min-height: 280px;
}
#sloganCategory{
    text-align:center;
}
#muteBtn{
    width: 30px;
    height: 30px;
    border: 2px solid rgb(59, 59, 59);
    border-radius: 10px;
    background-color: rgb(20, 20, 20);
    cursor: pointer;
}
.muteIcon{
    width: 30px;
    height: 30px;
    filter: invert(100%);
    text-align: center;
    margin: auto;
}
.letter{
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 3px solid gray;
    border-radius: 15px;
    float: left;
    cursor: pointer;
    background-color: #000000;
}
.letter:hover{
    background-color: #222222;
    color: white;
    border: 3px solid white;
}
.reset{
    color: rgb(0, 189, 0);
    cursor: pointer;
    font-size: 48px;
}
.reset:hover{
    color: white;
}